doctype html
html(lang='en')
  head
    include ./_includes/vars.jade 
    meta(charset='UTF-8')
    title #{shortname} #{title}
    meta(name='viewport', content='width=device-width, minimum-scale= 1.0, initial-scale= 1.0')
    // stylesheets
    link(rel='stylesheet', href='assets/css/style.css')
  body
    include ./_includes/mixins.jade 
    include ./_includes/header.jade 
    .side-image
      .images-wrapper
      .side-image-content
        h4 #{dates}
        h1 #{tagline}
        p #{blurb}
    .container
      #timeline
        // Timeline begin here
        include ./_includes/timeline.jade
      // Timeline ends here
    .hero
      .hero-inner
        .hero-copy
          p #{quote}
    include ./_includes/footer.jade
    script(src=src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(src="assets/js/wow.min.js")
    script.
      new WOW().init();
    script.
      $(document).ready(function(){
        $('.timeline-item').not(":first").addClass('wow fadeInUp').attr('data-wow-duration', '1.35s').attr('data-wow-delay','.25s');
      })