header
    .container
      h1.logo
        span #{fname}
        span #{mname}
        span #{lname}
      section.social
        a.btn(href='#{website}') Website
        a.btn(href='#{wiki}') Wikipedia Page