mixin timeline-item(title, icon, href, linktxt)
    .timeline-item
        .timeline-icon
            if icon
                i.fa.fa-fw(class='fa-#{icon}')
            else 
                i.fa.fa-fw(class='fa-dot-circle-o')
        .timeline-content
            h2= title
            if block
                block
            else
                p See Link for Addintional Information
            if (href)
                a.btn(href="#{href}" target="_blank") Read More
            if (href && linktxt)
                a.btn(href="#{href}" target="_blank") #{linktxt}



mixin copyr(whois, link)
    p Copyright &copy; #{new Date().getFullYear()}&nbsp;&nbsp;
        if link
            a(href='#{link}') #{whois}
        else
            | #{whois}